name: black formatter

on: [push, pull_request]

jobs:
  black-formatter:
    name: black formatter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: rickstaa/action-black@v1
        with:
          black_args: "."