name: Unit Tests

# Workflow triggers
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  # Running workflow manually
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checks-out repository under $GITHUB_WORKSPACE
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip

      - name: Add Score-P repository
        run: sudo add-apt-repository ppa:andreasgocht/scorep

      - name: Install Score-P
        run: sudo apt-get -y install scorep

      - name: Set up environment
        run: echo "$HOME/scorep/bin" >> $GITHUB_PATH
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
          cache: 'pip'
      - name: Install Python packages
        run: |
          pip install --upgrade pip
          pip install --upgrade setuptools
          pip install scorep
          pip install jupyter_kernel_test
          pip install pyyaml dill cloudpickle numpy pandas
          pip install ipywidgets itables matplotlib pynvml

      - name: Build JUmPER kernel
        run: |
          pip install .
          python -m jumper.install
        
      - name: Run userpersistence tests
        run: |
          python -m unittest tests/test_userpersistence.py
          
      - name: Run kernel tests
        run: |
          python -m unittest tests/test_kernel.py
